@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background-primary text-text-primary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  @apply min-h-screen;
}